<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" classNames="navbar-brand"}}Gestion des Employés{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to "employes.liste" classNames="nav-link"}}Liste des employés{{/link-to}}</li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          {{input value=matricule classNames="form-control" placeholder="Rechercher par matricule" type="text"}}
        </div>
        <button type="submit" class="btn btn-default" {{action "rechercher"}}>Rechercher</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
