<div class="jumbotron">
  <h1>Bienvenue dans l'interface de gestion des employés !</h1>
  <p>Cette application web est paramétrée pour communiquer avec une API REST accessible à l'adresse <code>http://localhost:8080</code>.</p>
  <p>Il est nécessaire de développer les services webs nécessaires pour que cette application fonctionne. Voici l'ensemble des fonctionnalités :</p>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Afficher un employé</h4>
      <p class="list-group-item-text">En cliquant {{#link-to "employes.detail" 5}}ici{{/link-to}}, on peut afficher les informations basiques de l'employé de matricule M00001.</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Liste des employés</h4>
      <p class="list-group-item-text">En cliquant {{#link-to "employes.liste"}}ici{{/link-to}}, tous les employés sont affichés, de manière paginée. Il est possible de changer de page en utilisant les boutons.</p>
    </li>
  </ul>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>